th,
td {
  text-align: left;

}

table {
  table-layout: fixed;
  width: 50%;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

.home,
.table-container {
  outline: 1px solid red;
  text-align: center;
}

.table {
  margin: 0 auto;
}
