/* @font-face { */
/*   font-family: Wild; */
/*   src: url('../assets/fonts/Wildyrus-E4gKe.ttf') format("truetype"); */
/* } */

.nav {
  display: flex;
  position: relative;
  justify-content: right;
  background: linear-gradient(to right, #FFD469, #f9a66c);
  clip-path: ellipse(69.48% 50% at 26.23% 50.00%);
  height: 5vh;

}


ul {
  list-style-type: none;
  position: relative;
  animation: signin 2s infinite;
  animation-timing-function: linear;
  padding-right: 15vw;
  padding-bottom: 1.3vw;
  padding-top: 1vh;
  font-size: 2vw;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkslategrey;
  cursor: crosshair;
}


@keyframes signin {
  0% {
    left: 0px;
  }


  50% {
    left: 5px;
  }

  100% {
    left: 0px
  }

}
