/* @font-face { */
/*   font-family: Wild; */
/*   src: url('../assets/fonts/Wildyrus-E4gKe.ttf') format("truetype"); */
/* } */

.nav {
  display: flex;
  position: relative;
  justify-content: right;
  background: linear-gradient(to right, #FFD469, #f9a66c);
  clip-path: ellipse(69.48% 50% at 26.23% 50.00%);
  height: 5vh;

}





@media only screen and (max-width: 430px) {
  .nav {
    clip-path: ellipse(69.48% 33.91% at 25.12% 22.03%);
    height: 8vh;
  }

}
