* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/* @font-face { */
/*   font-family: Wild; */
/*   src: url('../assets/fonts/Wildyrus-E4gKe.ttf') format("truetype"); */
/* } */

.nav {
  display: flex;
  justify-content: right;
  background: linear-gradient(to right, #FFD469, #f9a66c);

}


ul {
  list-style-type: none;
  margin-right: 15px;
  position: relative;
  animation: signin 2s infinite;
  animation-timing-function: linear;
  margin-bottom: 10px;
  margin-top: 10px;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray
}


@keyframes signin {
  0% {
    left: 0px;
  }


  50% {
    left: 5px;
  }

  100% {
    left: 0px
  }

}
