.handler {
  background-color: orange;
  border: 1px solid grey;
  width: 10px;
}

.handler.pulling {
  background-color: black;
  border: 1px solid grey;
  width: 10px;
}

.handler:hover {
  background-color: darkgray;
  cursor: ew-resize;
}
