<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>

<body>
  <h3 style="text-decoration:navajowhite;">Login</h3>

  <form action="/login" method="post">
    <div>
      <label for="emailId">Email ID:</label>
      <input type="text" id="emailId" name="emailId">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <button type="submit">Login</button>
  </form>



</body>

</html>
